:root {
	--ultra:	rgba(0,150,180,1);
	--bright: 	rgba(0,110,130,1);
	--medium: 	rgba(0,65,80,1);
	--dark: 	rgba(0,20,30,1);
}

@font-face {
  font-family: ggpp;
  src: url(assets/GoGoPosterPunchItalic.ttf);
}

* {
	box-sizing: border-box
}

html {
	min-height: 100%;
	margin: 0;
}

body {
	font-family: Orbitron;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
}

header {
	background-image: url("assets/mp_strobe/banner.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center top;
	background-size: contain;
	background-color: var(--dark);
	width: 100%;
	height: 0;
	padding-bottom: 15%;
	position: relative;
}

footer {
	background-image: linear-gradient(to right, var(--dark), var(--bright));
  	text-align: center;
  	color: white;
  	width: 100%;
	padding-top: 12px;
	display: inline-block;
}

/* Style the tab menu */
.map {
  float: left;
  background-image: linear-gradient(to right, var(--dark), var(--medium));
  width: 20%;
  flex: 1;
}

/* Style the buttons that are used to open the tab content */
.map button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-family: ggpp;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#strobe {
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	border-left: ridge;
	border-color: var(--ultra);
	border-width: 5px;
}

#header {
	font-family: ggpp;
	font-size: 5vw;
	text-shadow: 4px 4px 8px black;
	margin-top: 0px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Change background color of buttons on hover */
.map button:hover {
	border-left: ridge;
	border-color: var(--ultra);
	border-width: 5px;
}

/* Style the tab content */
.mapcontent {
  float: left;
  padding-left: 32px;
  width: 60%;
  border-left: none;
  background-color: var(--medium);
  color: white;
  flex: 3;
}

.mapcontent p {
	margin-top: 64px;
	margin-bottom: 64px;
	font-size: 20px;
	color: var(--ultra);
	text-shadow: 2px 2px 4px black;
}

.maplink {
	text-shadow: 2px 2px 4px black, 2px 2px 4px white; 
}

.dl_buttons {
	padding-top: 32px;
	padding-right: 32px;
	padding-left: 32px;
	float: right;
	width: 20%;
	text-align: center;
	position: sticky;
	background-image: linear-gradient(to right, var(--medium), var(--bright));
	flex: 1;
}

.credits {
	display: block;
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	color: white;
	text-shadow: 2px 2px 4px black;
	padding: 16px;
	width: 100%;
	
	border-style: ridge;
	border-color: var(--ultra);
	border-width: 5px;
	
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.credits li {
	text-shadow: 2px 2px 4px black;
	font-weight: normal;
}

.button1 {
	display: block;
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	color: white;
	text-shadow: 2px 2px 4px black;
	padding: 22px 16px;
	width: 100%;
	
	outline-style: ridge;
	outline-color: var(--ultra);
	
	text-align: center;
	font-family: ggpp;
	font-size: 25px;
	cursor: pointer;
	transition: 0.3s;
}

.button2 {
	display: block;
	background-image: linear-gradient(to left, var(--medium), var(--bright));
	color: white;
	text-shadow: 2px 2px 4px black;
	padding: 22px 16px;
	width: 100%;
	
	outline-style: ridge;
	outline-color: var(--ultra);
	
	text-align: center;
	font-family: ggpp;
	font-size: 25px;
	cursor: pointer;
	transition: 0.3s;
	margin-top: 32px;
}

.log {
	text-align: left;
	font-style: italic;
	color: #fff;
	text-shadow: 1px 1px 2px black;
}

.notes {
	line-height: 20px;
}

.notes {
	line-height: 24px;
}

.image {
	width: 100%;
	border-style: ridge;
	border-color: var(--ultra);
	border-width: 5px;
}

.yt{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	margin-top: 32px;
	height: 0;
}  

.yt iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-style: ridge;
	border-color: var(--ultra);
	border-width: 5px;
}

.content {
	display: flex;
}


